/* src/App.css */
.app {
  text-align: center;
  padding: 20px;
}

.product-list-container {
  display: flex;
  
}

.sidebar {
  width: 20%;
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: rgb(0, 0, 0);
  color: whitesmoke;
  box-shadow: 9px -4px 50px rgba(0, 0, 0, 0.373);
}
.option-tab{
  background-color: #000000;
  color: white;
  border: 0;
  border-radius: 5px;
  width: 100px;
  overflow: hidden;
}
.option-tab:hover{
  box-shadow: 0 0 7px whitesmoke , inset 0 0 7px whitesmoke;
}
.decription{
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #666;
  /* Ensure text does not exceed three lines */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-item{
  border-radius: 20px;
  border: 1px solid black;
  transition: box-shadow 0.3s ease-in,ox-shadow 0.3s ease-out;
  overflow: hidden;
}
.product-item img{
  transition: transform 0.3s ease-in-out;
}
.product-item img:hover{
  transform: scale(1.2);
}

.product-item:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.57);
}
.category {
  display: flex;
  justify-content: left;
  padding-left: 20px;
  height: 50px;
  align-items: center;
  background-color: #000000; /* Default background color */
  color: #ffffff; /* Default text color */
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.category:hover {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  transform: translateY(-2px) scaleY(1); /* Move up by 2px and scale height */
}


.sorting{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h2{
  margin-top: 50px;
}
.product-list {
  width: 80%;
  padding: 10px;
  margin-left: 20%;
}

.product-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 200px;
  max-width: 250px;
  text-align: left;
  display: inline-block;
}

.product-item img {
  width: 100%;
  height: auto;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sort-options {
  margin-bottom: 20px;
}

